<section class="orders-show">

  <div class="order-summary jumbotron">
    <h3>Thank you for your order!</h3>
    <h4>Confirmation Email: <%= @order.email %> </h4>
    <%= render @line_items %>
    <h2> Order Total $ <%=  @order.total_cents %> </h2>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
